@using F1_mvc.Models
@model IEnumerable<races>


<table class="table table-hover" id="tableRaces">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.year)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.round)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.date)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.time)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>@Html.ActionLink(item.name, "details", "races", new { id = item.raceId }, null)</td>
                <td>@item.year</td>
                <td>@item.round</td>
                <td>@item.date.ToShortDateString()</td>
                <td>@item.time</td>
            </tr>
        }
    </tbody>
</table>
