<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("googlemaps", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("F1 History", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Seasons", "Seasons", "Home")</li>
                    <li>@Html.ActionLink("Races", "Index", "Races")</li>
                    <li>@Html.ActionLink("Circuits", "Index", "Circuits")</li>
                    <li>@Html.ActionLink("Constructors", "Index", "Constructors")</li>
                    <li>@Html.ActionLink("Drivers", "Index", "Drivers")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container center-block">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td>
                        <img src="~/images/219.svg" width="16" height="16" />
                    </td>
                    <td><strong> Work in progress</strong></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>


    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
