@using F1_mvc.Models
@using F1_mvc.Classes
@model F1_mvc.Models.GUI.GrandPrixModel

<h3>Qualyfing</h3>

@{
    int i = 1;
    constructors con;
    results res;
    drivers dri;
}

<table class="table table-hover" id="tableDrivers">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Pos.</th>
            <th scope="col">#</th>
            <th scope="col">Driver</th>
            <th scope="col">Team</th>
            <th scope="col">Q1</th>
            <th scope="col">Q2</th>
            <th scope="col">Q3</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Qualy)
        {
            con = Model.GetConstructorsByDriverId(item.driverId);
            res = Model.GetResultsByDriverId(item.driverId);
            dri = Model.GetDriverById(item.driverId);

        <tr scope="row">
            <td>@i</td>
            <td>@res.number</td>
            <td>@Html.ActionLink(Utilities.Fullname(dri), "details", "drivers", new { id = dri.driverRef }, null)</td>
            <td>@Html.ActionLink(con.name, "details", "constructors", new { id = con.constructorRef }, null)</td>
            <td>@item.q1</td>
            <td>@item.q2</td>
            <td>@item.q3</td>



        </tr>
            i++;
        }
    </tbody>
</table>

