@using F1_mvc.Models
@using F1_mvc.Models.GUI
@model GrandPrixModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>@ViewBag.Title</h1>
</div>


<div class="container">
    <div class="col-md-4">



        <table class="table table-hover">

            <tr>
                <td>@Html.DisplayNameFor(model => model.Winner)</td>
                <td>
                    @Html.ActionLink(Model.Winner.forename + " " + Model.Winner.surname,
               "details", "drivers", new { id = (Model.Winner.driverRef) }, null)
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Second)</td>
                <td>
                    @Html.ActionLink(Model.Second.forename + " " + Model.Second.surname,
               "details", "drivers", new { id = (Model.Second.driverRef) }, null)
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Third)</td>
                <td>
                    @Html.ActionLink(Model.Third.forename + " " + Model.Third.surname,
               "details", "drivers", new { id = (Model.Third.driverRef) }, null)
                </td>
            </tr>



        </table>




    </div>
    <div class="col-md-4">

        @Html.Action("RaceResults", "Races", new { gp = Model })

    </div>
    <div class="col-md-4">
    </div>


</div>

@section scripts{

}
