@using F1_mvc.Models
@model IEnumerable<races>

@{
    ViewBag.Title = "Races";
}

<div class="jumbotron">
    <h1><img src="~/images/streamline-icon-award-trophy-star-1@48x48.png" class="d-inline-block" />@ViewBag.Title</h1>
    <p class="lead">Every Grand Prix in the whole history.</p>
</div>


@Html.Action("GridRace", "Races")






@section scripts {

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        // Basic example
        $(document).ready(function () {
            $('#tableRaces').DataTable({
                "pagingType": "simple", // "simple" option for 'Previous' and 'Next' buttons only
                "order": [[4, "asc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}