@using F1_mvc.Models
@model circuits

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="~/images/streamline-icon-maps-pin@24x24.png" width="30" height="30" class="d-inline-block align-top" alt="" />@Model.name
</div>


<div class="container">
    <div class="col-lg-6">

        <table class="table table-hover">
            <tr>
                <td>@Html.DisplayNameFor(model => model.name)</td>
                <td>
                    <a href="@Model.url">@Model.name</a>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.location)</td>
                <td>@Model.location</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.country)</td>
                <td>@Model.country</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.lat)</td>
                <td>@Model.lat</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.lng)</td>
                <td>@Model.lng</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.alt)</td>
                <td>@Model.alt</td>
            </tr>

        </table>

    </div>
    <div class="col-lg-6">
        <div id="map_canvas" style="width: 100%; height: 500px; margin-bottom: 2px;">

        </div>
    </div>
</div>

@section googlemaps {

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")

    <style>
        #map_canvas img {
            max-width: none
        }
    </style>

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAnlgvUO2FWUyAyoMhBHJt5sZy7CGAxOtA"></script>
    <script src="~/Scripts/googlemaps.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            var lat = @Model.lat.ToString().Replace(',', '.');
            var lng = @Model.lng.ToString().Replace(',', '.');

            Initialize(lat, lng);
        });

    </script>

}
